.todo-item {
    width: 400px;
    height: 25px;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    &.done {
        text-decoration: line-through;
    }
}
.todo-group {
    justify-self: center;
}
.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-delete {
    height: 35px;
    width: 30px;
    margin-bottom: 10px;
}
